html {
  font-family: "Open Sans Condensed", sans-serif;
}

h1 {
  font-weight: normal;
  border-style: solid;
  border-width: 4px;
  border-color: pink;
  font-family: "Open Sans Condensed", sans-serif;
  background-color: lightyellow;
}

/*
.max-width {
  max-width: 320px;
  display: block;
  margin: auto;
} */

p {
  font-family: "Courgette", cursive;
  color: silver;
}
